<input type="text" placeholder="Enter New Task" #task>
<br>
<button (click)="addTask(task.value)">Add New Task</button>
<br><br>

 <ol *ngFor="let items of list">
    <li>{{items.name}}</li>
    <li>{{items.id}}</li>
    <li><button (click)="removeTask(items.id)">Delete</button></li>
 </ol>


<table>
  <tr>
    <th>Work ID</th>
    <th>Task Name</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of list">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td><button (click)="removeTask(item.id)">Delete</button></td>
  </tr>
  
</table>








<router-outlet></router-outlet>
