<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background:#303030 ;height:93vh;">
            <div >
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input formControlName="item" matInput placeholder="Type Here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Add Task Name</mat-hint>
                        </mat-form-field>
                        <button (click)="addTask()" *ngIf="!saveEnable" mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
                        <button (click)="updateTask()" *ngIf="saveEnable" mat-raised-button [disabled]="todoForm.invalid" color="primary">Save</button>
                    </form>
                </mat-card>
            </div>
            
        </div>

        <div class="col-md-10">
            <div class="cdkDropListGroup">
                <div class="row">
                        
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>To do</h2>
                          
                            <div
                              cdkDropList
                              #todoList="cdkDropList"
                              [cdkDropListData]="todo"
                              [cdkDropListConnectedTo]="[doneList,inProgressList]"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of todo;let i=index" cdkDrag>
                                <div class="box" style="width: 75%;overflow: hidden;">
                                    {{item.description}}
                                </div>
                                
                                <div class="box inline" style="width:25%;padding-right: 0;">
                                    <button mat-icon-button (click)="deleteTask(i)" color="warn"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="onEdit(item,i)"><mat-icon>edit</mat-icon></button>
                                </div> 
                              </div>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>In Progress</h2>
                          
                            <div
                              cdkDropList
                              #inProgressList="cdkDropList"
                              [cdkDropListData]="onGoingTask"
                              [cdkDropListConnectedTo]="[todoList,doneList]"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of onGoingTask;let i=index" cdkDrag>
                                <div class="box" style="width: 75%;overflow: hidden;">
                                    {{item.description}}
                                </div>
                                
                                <div class="box" style="width:25%;padding-right: 0;">
                                    <button mat-icon-button (click)="deleteInProcessTask(i)" color="warn"><mat-icon>delete</mat-icon></button>
                                </div>
                              </div>
                          </div>
                          </div>
                    </div>
                      
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>Done</h2>
                          
                            <div
                              cdkDropList
                              #doneList="cdkDropList"
                              [cdkDropListData]="done"
                              [cdkDropListConnectedTo]="[todoList,inProgressList]"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of done;let i=index" cdkDrag>
                                <div class="box" style="width:75%;overflow: hidden;">
                                    {{item.description}}
                                </div>
                                
                                <div class="box" style="width: 25%;">
                                    <button mat-icon-button (click)="deleteDoneTask(i)" color="warn"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary"><mat-icon>check-circle</mat-icon></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                      
                    <!-- todo list not completed or inprogress tasks -->
                    <!-- <div class="col-md-4">
                        <div class="example-container">
                            <h2>To do</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="todo"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of todo;let i=index" cdkDrag>
                                {{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="deleteTask(i)"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div> -->

                    <!-- ongoing tasks -->
                    <!-- <div class="col-md-4">
                        <div class="example-container">
                            <h2>In Progress</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="onGoingTask"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of onGoingTask;let i=index" cdkDrag>
                                {{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="deleteOnGoingTask(i)"><mat-icon>edit</mat-icon></button>
                                </div>
                            </div>
                            </div>
                          </div>
                        
                    </div> -->

                    <!-- completed tasks -->
                    <!-- <div class="col-md-4">
                        <div class="example-container">
                            <h2>Done</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.description}}</div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>
